<form class="sections_forms" id="static_html_form" method="post" style="display: block;">
  <!--<h3>Narrative Text</h3>-->
  <div class="form-inner">
	<div class="form-group">
	  <label for="shtml_title" class="control-label">Title:<span class="form-required" title="This field is required."></span></label>
	  <input type="text" class="form-control" id="shtml_title" name="shtml_title" required pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+">
	</div>
	<div class="form-group">
	  <label for="shtml_html" class="control-label">HTML:<span class="form-required" title="This field is required."></span></label>
	  <textarea class="form-control" id="shtml_html" name="shtml_html" ></textarea>
	</div>
  </div><!-- end form-inner-->
  <div class="form-group form-btns">
	<input type="submit" class="btn btn-primary submit-btn" name="static_html_sub" value="Submit" id="static_html_sub" >
             <img class="classifier-modify" src="/sites/default/files/graphloader.gif">
  </div>
</form>